:root {
  // colors
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(217, 12%, 63%);
  --grey-200: hsl(216, 12%, 54%);
  --blue-100: #2b3545;
  --blue-200: #202731;
  --blue-300: #141519;

  // font sizes
  --fs-xl: 36px;
  --fs-l: 22px;
  --fs-m: 18px;
  --fs-s: 16px;
  --fs-xs: 12px;

  // font weights
  --fw-400: 400;
  --fw-700: 700;
}
